* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  text-decoration: none;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
body {
  margin: 16px;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
  font-family: 'Montserrat', sans-serif;
}
.btn-back {
  color: #212121;
  display: block;
  height: 30px;
  width: 80px;
  background-color: #9595de;
  margin-bottom: 15px;
  border: 1px solid #212121;
  border-radius: 10px;
  text-align: center;
}
.item {
  display: block;
  border-radius: 8px;
  padding: 16px;
  width: 392px;
  height: 264px;
  background-color: #f6f6fe;
  margin-bottom: 24px;
}
.title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.3;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-bottom: 16px;
}
.list {
  display: flex;
  flex-direction: column;
}
.categories-items {
  height: 40px;
  width: 360px;
  border: 1px solid #808080;
  align-items: center;
  padding: 8px 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
