* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  text-decoration: none;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
body {
  margin: 16px;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
  font-family: 'Montserrat', sans-serif;
}
.btn-back {
  padding: 10px 20px;
  font-size: 15px;
  color: rgb(10, 10, 38);
  background-color: transparent;
  border: 2px solid #333;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}
.item {
  display: block;
  border-radius: 8px;
  padding: 16px;
  width: 392px;
  height: 264px;
  background-color: #f6f6fe;
  margin-bottom: 24px;
}
.title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.3;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-bottom: 16px;
}
.list {
  display: flex;
  flex-direction: column;
}
.categories-items {
  height: 40px;
  width: 360px;
  border: 1px solid #808080;
  align-items: center;
  padding: 8px 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 24px;
  row-gap: 48px;
  justify-content: center;
}
.gallary-img {
  width: 360px;
  height: 250px;
}

#name-input {
  display: block;
  margin-top: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 360px;
  height: 40px;
  padding: 8px 16px;
  border-radius: 3px;
}
.input-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.3;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.login-form {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  gap: 8px;
}
.form-label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.form-input {
  border: 1px solid #808080;
  height: 40px;
  width: 360px;
  border-radius: 5px;
}
.form-btn-subm {
  margin-top: 16px;
  width: fit-content;
  padding: 8px 16px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4e75ff;
  border: none;
}
